@import url('https://fonts.googleapis.com/css?family=Roboto');

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-size: 34px;
	color: #3f3f3f;
	text-align: center;
	padding-bottom: 15px;
	
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	color: #f3f3f3;
	text-align: center;
	padding-bottom: 15px;
	
}

p {
	font-family: "Roboto", sans-serif;
	color: #f3f3f3;
	text-align: left;
	padding-bottom: 5px;	
}

p.error {
	font-family: "Roboto", sans-serif;
	color: #3f3f3f;
	text-align: left;
	padding-bottom: 5px;	
}
p.center {
	font-family: "Roboto", sans-serif;
	color: #f3f3f3;
	text-align: center;
	padding-bottom: 5px;
	
}

.center {
    margin: auto;
    width: 99%;
    #border: 3px solid #73AD21;
    padding: 10px;
}

.modal-content{
  border: #ae20f8 6px solid;
}

table {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #3f3f3f;
  background: #f2f2f2;
  margin: auto;
}

.table-scrollable {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, .3);
}

#Inhalte-werden-zentriert {
	display: flex;
	align-items: center;
	justify-content: center;
}


img,
iframe {
  max-width: 100%;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0174b5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #004b99;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.logo {
	width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 0 15px 0;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #0174b5; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #004b99, #0174b5);
  background: -moz-linear-gradient(right, #004b99, #0174b5);
  background: -o-linear-gradient(right, #004b99, #0174b5);
  background: linear-gradient(to left, #004b99, #0174b5);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  position: relative;    
}
html, body{
  min-height: 100%;
}